.nav {
  display: flex;
  width: 440px;
  height: 115px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
  background-color: #000;
  margin: 0 -41.5px;
}
.icon {
  width: 33px;
  height: 28px;
  height: auto;
  cursor: pointer;
  filter: brightness(0) invert(1); 
}
.logo {
  width: 109.11px;
  height: 41.13px;
  object-fit: contain;
}
