@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Vina Sans', sans-serif;
}
